# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin compiler sessions and temporary files
.kotlin/

# Ignore compiled classes in bin directory
lib/bin/

# Ignore all markdown files except README.md
*.md
!README.md
